<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start" [routerLink] = "['/soli']" >
      <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
      <ion-button>¡Viaje Aceptado!</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card id="carta">
        <img [src]="this.detalles.urlImagen"/>
        <ion-card-header>
          <ion-card-title>Usted esta viajando con {{this.detalles.nombreViaje}}</ion-card-title>
          <ion-card-subtitle>Su viaje costara {{this.detalles.precioViaje}}$CLP</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
        ¡Disfruta tu Viaje!
        </ion-card-content>
      </ion-card>
      <p><ion-button color="primary" class ="ion-margin-vertical">Volver al inicio</ion-button></p> Precio:{{this.detalles.precioViaje}}$CLP
  </div>
</ion-content>



<app-footer></app-footer>